[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/BufClose"]
	path = vim/bundle/BufClose
	url = https://github.com/vim-scripts/BufClose.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/rubycomplete.vim"]
	path = vim/bundle/rubycomplete.vim
	url = https://github.com/vim-scripts/rubycomplete.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/Pydiction.git"]
	path = vim/bundle/Pydiction.git
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "vim/bundle/python.vim"]
	path = vim/bundle/python.vim
	url = https://github.com/vim-scripts/python.vim.git
[submodule "vim/bundle/pydoc.vim"]
	path = vim/bundle/pydoc.vim
	url = https://github.com/vim-scripts/pydoc.vim.git
[submodule "vim/bundle/treetop.vim"]
	path = vim/bundle/treetop.vim
	url = https://github.com/nanki/treetop.vim.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-jsx-pretty"]
	path = vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/bundle/yajs.vim"]
	path = vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim
[submodule "vim/bundle/oceanic-next"]
	path = vim/bundle/oceanic-next
	url = https://github.com/mhartington/oceanic-next
